{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle('lenz\\linkfield\\assets\\field\\LinkFieldAsset') %}

{% set type = singleType ? singleType : ( value.type is defined and value.type ? value.type : null) %}

<div class="linkfield{% if hasSettings %} withSettings{% endif %}" id="{{ name }}">
  {% if linkNames|length == 0 %}
    <p>{{ 'No link types available.'|t('typedlinkfield') }}</p>
  {% else %}
    <div class="linkfield--field{% if hasSettings %} field{% endif %}">
      {% if singleType %}
        <input type="hidden" id="{{ name }}-type" name="{{ name }}[type]" value="{{ type }}" />
      {% else %}
        <div class="linkfield--type">
          {{ forms.select({
            disabled: disabled,
            id: name~'-Type',
            name: name~'[type]',
            options: linkNames,
            value: type
          }) }}
        </div>
      {% endif %}

      <div class="linkfield--typeOptions{% if singleType %} single{% endif %}">
        {{ linkInputs|raw }}
      </div>

      {% if field.allowTarget %}
        <div class="linkfield--target">
          {{ forms.checkboxField({
            disabled: disabled,
            id: name~'-Target',
            name: name~'[target]',
            value: '_blank',
            label: 'Open in new window?'|t('typedlinkfield'),
            checked: value.target is defined and value.target == '_blank' ? true : null
          }) }}
        </div>
      {% endif %}
    </div>

    {% if hasSettings %}
      <div class="linkfield--settings{{ type == '' ? ' hidden' }}">
        {% if field.allowCustomText %}
          {{ forms.textField({
            disabled: disabled,
            id: name~'-customText',
            name: name~'[customText]',
            placeholder: field.defaultText == '' ? 'Custom link text'|t('typedlinkfield') : field.defaultText|t('site'),
            label: 'Custom link text'|t('typedlinkfield'),
            value: value.customText is defined and value.customText ? value.customText
          }) }}
        {% endif %}

        {% if field.enableAriaLabel %}
          {{ forms.textField({
            disabled: disabled,
            id: name~'-AriaLabel',
            name: name~'[ariaLabel]',
            label: 'Aria label'|t('typedlinkfield'),
            value: value.ariaLabel is defined ? value.ariaLabel : ""
          }) }}
        {% endif %}

        {% if field.enableTitle %}
          {{ forms.textField({
            disabled: disabled,
            id: name~'-Title',
            name: name~'[title]',
            label: 'Title'|t('typedlinkfield'),
            value: value.title is defined ? value.title : ""
          }) }}
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
</div>

{% js %}
  new LinkField("{{ nameNs }}");
{% endjs %}
